.game-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &__content {
    max-width: 1250px;
    margin: 0 auto;
    padding-top: 0;
    margin-top: -135px;
    position: relative;
    z-index: 10;
  }

  &__detail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  &__solve {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__solve-btn {
    margin: 0 10px;
  }
  &__img-solved{
    width: 265px;
    margin: 20px auto;
    border-radius: 10px;
  }
  &__img-notsolved{
    width: 265px;
    height: 398px;
    background-color: #C2D0DB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
  }
  &__icon{
    font-size: 100px;

  }
}