
.btn {
  background-color: #052641;
  color: #ffff;
  font-size: 14px;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 50px;
  line-height: 1;

  &:disabled,
  &[disabled] {
    opacity: 0.3;
  }

  &--link {
    background-color: transparent;
    text-decoration: underline;
    color: #052641;
  }

  &--option {
    color: #052641;
    background-color: #E7E7E7;
  }

  &--option-selected {
    color: #ffff;
    font-weight: 600;
    background-color: #F4BC4F;
  }

  &--option-correct {
    background-color: #78C84F;
    color: #ffff;
    font-weight: 600;
  }

  &--option-wrong {
    background-color: #C03028;
    color: #ffff;
    font-weight: 600;
  }

  &--light {
    background-color: #C5C2C2;
  }
}