@import "../../styles/variables.scss";
@import "../../styles/media-queries.scss";

.discover {
  background-color: $background-generic;
  margin: 10px 0;
  padding-bottom: 20px;
  &__title {
    color: $font-color-light;
    padding: 15px;
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
  }
  &__wraper{
    overflow-x: scroll;
  }
  &__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    justify-content: center;

    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: normal;
      padding: 10px;
    }
  }
  &__btn-show-more{
    color: #052641;
    background-color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 50px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: none;
    &:hover {
      background-color: #052641;
      color:  white;
      border: 1px solid white;
    }
  }
}