@import "../../styles/variables.scss";

.discover {
  background-color: $background-generic;
  margin-top: 10px;
  &__title {
    color: $font-color-light;
    padding: 15px;
    margin: 0px;
    font-weight: 700;
    font-size: 24px;
  }
}
