.item-datail{
    width: 800px;
    &__img{
        width: 250px;
    }
    &__title{
        font-size: 40px;
    }
    &__vote{

    }
    &__subtitle{

    }
    &__overview{

    }
    &__crew{
        display: flex;
    }
    &__cast{
        display: flex;
    }
    &__results{
        width: 250PX;
    }
}
